table, td, tr {
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    width: 800px;
    height: 20px;
}

h1 {
    text-align: center;
}

#cabecera {
    background-color: greenyellow;
}