body {
    margin: 0;
    padding: 0;
    text-align: center;
}

input[type="text"], input[type="password"], input[type="confirm_password"] {
    display: block;
    padding: 20px;
    outline: none;
    margin: 20px auto;
    width: 300px;
}